body {
    flex: auto;
    > .container {
        margin: auto;
    }
}

.card{
  width: auto;
  height: auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 4);
  margin: 30%;
}
.input{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card-title{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}
.input-description{
  font-size: 12px;
  line-height: 150%;
}
.button{
    justify-content: space-between;
display: flex;
}
.input-others{
  display: none;
  margin-top: 10px;
}